main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
}
.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}
main h1 {
  color: var(--red);
  font-family: var(--gothic);
}
.filterBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.filterBox div {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border: 1px solid #3f3f3f;
  gap: 1rem;
  font-family: var(--space);
}
