.listItem img {
  width: 2.5rem;
}
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-self: center;
  justify-items: center;
  gap: 1rem;
  padding: 1rem;
}
.listItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--space);
  text-transform: capitalize;
  font-size: 1rem;
}
