.priceCart {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price p {
  font-size: 1.35rem;
  font-family: var(--inter) !important;
  color: var(--red);
  font-weight: 800;
}
.productPrice {
  color: var(--red);
}
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 45px;
  height: 45px;
  background-color: var(--red);
}
.product {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #202020;
  border-radius: 7px;
  background: #241313;
  background: linear-gradient(
    0deg,
    rgba(36, 19, 19, 1) 0%,
    rgba(237, 221, 83, 0) 20%
  );
  position: relative;
}
.product h3 {
  font-family: var(--inter);
  font-weight: 800;
  margin-top: 3rem;
  font-size: 1.35rem;
}

.product p {
  font-family: var(--space);
}
.price {
  display: flex;
  flex-direction: column;
}
.ogPrice {
  color: #454545;
  text-decoration: line-through;
  font-size: 1.2rem;
  font-weight: 400;
}
.onSale {
  position: absolute;
  right: 0;
  top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.onSale p:nth-child(1) {
  font-weight: 700;
  border: 1px solid var(--red);
  background-color: var(--red);
  padding: 0.5rem;
  font-size: 1.1rem;
  color: var(--white);
  font-family: var(--gothic);
  margin-right: -7px;
}

.onSale p:nth-child(2) {
  font-weight: 700;
  padding: 0.5rem;
  margin-right: -7px;
  background-color: var(--black);
  font-size: 1.1rem;
  color: var(--white);
  font-family: var(--gothic);
  border: 1px solid var(--red);
  display: flex;
  justify-content: center;
  border-top: none;
  align-items: center;
}
