.gridItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #161616;
  border-radius: 5px;
  width: 100%;
  border-radius: 0.5rem;
}
.gridItem p {
  color: var(--white);
  font-family: var(--josefin);
  text-transform: capitalize;
  font-size: 1.25rem;
  padding: 0.75rem;
}
.gridItem img {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}
a {
  gap: 0;
}
