section#header {
  background: #171515;
  background: radial-gradient(
    circle,
    rgba(23, 21, 21, 1) 0%,
    rgba(16, 16, 16, 1) 52%,
    rgba(18, 17, 17, 1) 100%
  );
  min-height: 92dvh;
  max-height: 92dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  text-align: center;
}
#header h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 20px;
  font-family: var(--gothic);
}
#header p {
  font-family: var(--space);
}
.special {
  color: var(--red);
}
#header .btns {
  display: flex;
  gap: 1rem;
  padding-top: 2.5rem;
}
#header a {
  cursor: pointer;
  padding: 0.65rem 1.25rem;
  background-color: var(--white);
  border: none;
  border-radius: 100px;
  font-size: 0.9rem;
  font-family: var(--inter);
  color: var(--black);
  text-transform: capitalize;
}
#header .getStarted {
  background-color: var(--red);
  color: var(--white);
}
