.filterPopUp {
  position: fixed;
  background-color: #000000e1;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
  margin: 0 auto;
  top: 5;
}
h3 {
  color: var(--red);
  text-transform: uppercase;
  font-size: 2rem;
  font-family: var(--gothic);
}
.filterFirstRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 2rem;
}
.filterOption {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.filterOption select {
  background-color: transparent;
  color: var(--white);
  padding: 0.5rem 0;
  outline: 1px solid var(--red);
  outline-offset: 3px;
  border-radius: 0.5rem;
  border: none;
  min-width: 7rem;
  max-width: 7rem;
}
.filterOption option {
  color: var(--white);
  background-color: var(--black);
}
label {
  font-family: var(--space);
  font-size: 1.25rem;
}
.filterPopUp button {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--red);
  font-family: var(--space);
  border: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 100px;
  margin-top: 1rem;
}
.prices {
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  gap: 2rem;
}
.prices input {
  display: inline-block;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid var(--red);
  color: var(--white);
  border-radius: 0.5rem;
}
